<body id="index">
	<header class="cd-header">
		<a href="#0" class="cd-logo"></a>
		<a href="#0" class="cd-3d-nav-trigger">
			Menu
			<span></span>
		</a>
	</header> <!-- .cd-header -->

	<main>
		<!-- all your content here -->
	</main>

	<nav class="cd-3d-nav-container">
		<ul class="cd-3d-nav">
			<li class="cd-selected">
				<%= link_to "Home" , video_path %>
			</li>

			<li>
				<%= link_to "Projects" , pages_path %>
			</li>

			<li>
				<a href="#0">Images</a>
			</li>

			<li>
				<a href="#0">Settings</a>
			</li>

			<li>
				<a href="#0">New</a>
			</li>
		</ul> <!-- .cd-3d-nav -->

		<span class="cd-marker color-1"></span>
	</nav> <!-- .cd-3d-nav-container -->

	<!-- <script src="js/jquery-2.1.1.js"></script> -->
	<%= javascript_include_tag "jquery-2.1.1" %>
	<!-- <script src="js/main.js"></script>  -->
	<%= javascript_include_tag "main.js" %>
</body>
